.fundo{
    background-image: url(https://img.freepik.com/vetores-premium/naves-na-superficie-do-planeta-paisagem-espacial-de-pixel-art-de-8-bits-ai-gerou-fundo-da-cena-do-jogo-localizacao-de-paralaxe-interestelar-com-motores-invasores-alienigenas-no-mundo-da-galaxia-distante-com-natureza-caprichosa_8071-54797.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Press Start 2P';
    font-size: 30px;
    overflow: hidden;
    margin-top: 6px;
    text-shadow: 7px 7px black;
    
}

h1{
    color: white;
    text-align: center;
}

.W{
    display: flex;
    justify-content: center;
    margin-right: 82px;
}

.A{
    display: flex;
    justify-content: center;
    margin-right: 24px;
}

.S{
    display: flex;
    justify-content: center;
    margin-right: 24px;
}

.D{
    display: flex;
    justify-content: center;
    margin-left: 7px;
}

.Controls {
    font-size: 30px !important;
    color: white;
    text-align: center;
    display: grid;
    font-family: 'Press Start 2P';

}

.Controls button{
    height: 50px;
    width: 50px;
    background-color: gray;
}

.Controls p{
    margin-top: 6px;
    text-shadow: 5px 2px black;
}

.form button{
    position: absolute;
    height: 100px;
    width: 200px;
    left: 40%;
    right: 50%; 
    font-size: 30px;
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    color: black;
    background-color: #385798;
    padding: 10px;
    box-shadow: 5px;
    border: black 3px solid;
}

.form button:active{
    transform: scale(0.96);
}